virtual_server {{ item.vip }} {{ item.vport }}
{
	delay_loop 5
	lb_algo sh
	lb_kind DR
{% if item.prot == 'udp' %}
	protocol UDP
	persistence_timeout 50
	include /etc/keepalived/conf/{{ item.vip }}_{{ item.vport }}_UDP/*.rs
{% else %}
    protocol TCP
	persistence_timeout 50
	include /etc/keepalived/conf/{{ item.vip }}_{{ item.vport }}_TCP/*.rs
{% endif %}
}